<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="kunder-cordova-plugin-webview"
  version="2.6.0">
  <name>Cordova Second Webview</name>
  <author href="http://kunder.cl">kunder</author>
  <description>
    This cordova plugin enables you to open a second webview in your app.
    This webview is totally independent from the main webview, but allows you tu access plugins and other Cordova resources.

    It's possible to modify this plugin to allow multiple webviews.
  </description>
  <repo>https://github.com/arturokunder/cl.kunder.webview</repo>
  <issue>https://github.com/arturokunder/cl.kunder.webview/issues</issue>
  <license>Apache 2.0</license>
  <keywords>cordova, webview</keywords>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <!-- Web View -->
  <js-module src="www/webViewPlugin.js" name="webview">
    <merges target="webview" />
  </js-module>



  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="WebViewPlugin" >
        <param name="android-package" value="cl.kunder.webview.WebViewPlugin"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" android:label="@string/activity_name" android:launchMode="singleTop" android:name="cl.kunder.webview.WebViewActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="adjustResize" android:exported="true">
      </activity>
    </config-file>

    <source-file src="src/android/cl/kunder/webview/WebViewPlugin.java" target-dir="src/cl/kunder/webview" />
    <source-file src="src/android/cl/kunder/webview/WebViewActivity.java" target-dir="src/cl/kunder/webview" />

  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="WebViewPlugin">
        <param name="ios-package" value="WebViewPlugin"/>
      </feature>
    </config-file>

    <!-- WebView -->
    <header-file src="src/ios/webview/WebViewPlugin.h" />
    <source-file src="src/ios/webview/WebViewPlugin.m" />
  </platform>

  <!-- browser -->
  <platform name="browser">
    <config-file target="config.xml" parent="/*">
        <feature name="WebViewPlugin">
            <param name="browser-package" value="WebViewPluginProxy" />
        </feature>
    </config-file>

    <js-module src="src/browser/WebViewPluginProxy.js" name="WebViewPluginProxy">
        <runs />
    </js-module>
  </platform>


</plugin>
