<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  id="cordova-plugin-second-webview"
  version="2.11.0">
  <name>Cordova Second Webview</name>
  <description>Fork of kunder.cl webview plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,webview</keywords>

  <engines>
    <engine name="cordova" version=">=3.4.0" />
  </engines>

  <!-- Web View -->
  <js-module src="www/webViewPlugin.js" name="webview">
    <clobbers target="webview" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="WebViewPlugin" >
        <param name="android-package" value="cl.kunder.webview.WebViewPlugin"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" android:label="@string/activity_name" android:launchMode="standard" android:name="cl.kunder.webview.WebViewActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.DeviceDefault" android:windowSoftInputMode="adjustResize" android:exported="true">
      </activity>
    </config-file>

    <source-file src="src/android/cl/kunder/webview/WebViewPlugin.java" target-dir="src/cl/kunder/webview" />
    <source-file src="src/android/cl/kunder/webview/WebViewActivity.java" target-dir="src/cl/kunder/webview" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="WebViewPlugin">
        <param name="ios-package" value="WebViewPlugin"/>
      </feature>
    </config-file>

    <!-- WebView -->
    <header-file src="src/ios/webview/WebViewPlugin.h" />
    <source-file src="src/ios/webview/WebViewPlugin.m" />
  </platform>
</plugin>
